* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  border: none;
}

html,
body {
  height: 100%;
}

body {
  color: #8d96a7;
  font-family: 'Roboto Condensed', Calibri, Arial, sans-serif;
  font-size: 0.96rem;
  font-weight: 300;
}

.bg {
  background: url('img/img2.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
}

header {
  background: rgba(255, 255, 255, 0.06);
  border-bottom: rgba(255, 255, 255, 0.08) solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  z-index: 3;
  width: 100%;
  padding: 0rem 2rem;
}

.logo {
  font-family: 'Koulen', 'Roboto Condensed';
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  display: inline-block;
  padding: 6px 15px;
}

#chk-toggle {
  display: none;
}

#toggle {
  display: inline-block;
  padding: 11px;
}

#toggle span {
  display: block;
  width: 22px;
  height: 3px;
  background: #8d96a7;
  margin: 3px;
}

nav {
  flex-basis: 100%;
  height: 0;
  overflow: hidden;
}

nav ul {
  margin: 0 15px;
  list-style: none;
}

nav ul li {
  border-bottom: rgba(255, 255, 255, 0.06) solid 1px;
}

nav ul li:nth-last-child(1) {
  border-bottom: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.98rem;
  padding: 8px;
}

#chk-toggle:checked~nav {
  height: auto;
}

.homeText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 15rem;

}

.wpp {
  max-width: 10rem;
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #BF0426;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #DEDEDE;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.wpp::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 1) 50%, rgba(150, 4, 31, 1) 50%, rgba(191, 4, 38, 1) 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.wpp:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.wpp:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 100%;

}

.textAbout {
  color: black;
  padding: 2rem;
}

.imgAbout {
  width: 100%;
  padding: 2rem;
}

img {
  max-width: 100%;
}

.score {
  display: flex;
  justify-content: space-between;
  background-color: #BF0426;
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  color: white;
}

.textScore {
  list-style: none;
  text-decoration: none;
}

h4 {
  color: black;
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  min-width: 320px;
  max-width: 320px;
  border: solid;
}

.stars {
  display: flex;
  grid-gap: 0.125rem;
  gap: 0.125rem;
  color: rgb(238, 203, 8);
}

.star {
  height: 1.25rem;
  width: 1.25rem;
}

.infos {
  margin-top: 1rem;
}

.date-time {
  color: rgba(7, 63, 216, 1);
  font-size: 12px;
  font-weight: 600;
}

.description {
  margin-top: 0.4rem;
  line-height: 1.625;
  color: rgba(107, 114, 128, 1);
}

.author {
  margin-top: 1.3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(107, 114, 128, 1);
}

.container {
  position: relative;
  padding: 15px;
  max-width: 640px;
  margin: 0 auto;
}

.gallery-wrapper {
  overflow-x: auto;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  cursor: pointer;
  border: none;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.item {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  opacity: 0.5;
}

.current-item {
  opacity: 1;
}

/* This is from w3schools */
/* 
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.cyan {
  background: cyan;
}

.deeppink {
  background: deeppink;
}

.turquoise {
  background: turquoise;
}

.darkblue {
  background: darkblue;
}

.purple {
  background: purple;
}

.cards {
  display: flex;
  padding: 32px;
}

.cardTitle {
  color: black;
}

.cardDiscription {
  color: black;
}

.cardPrice {
  color: black;
}

.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-height: 468px;
  margin-left: 32px;
}

.cards section.card:first-child {
  margin-left: 0;
}

.cards section.card .icon {
  padding: 1rem;
  font-size: 1.5rem;
}


.cards section.card h6 {
  font-size: 100%;
  margin: 16px 0;
}

.cards section.card span {
  font-weight: 300;
  max-width: 240px;
  font-size: 80%;
  margin-bottom: 16px;
}

.cards section.card button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px 0;
}

.cards section.card.about button {
  background: #BF0426;
}

.cards section.card.about {
  box-shadow: 20px 20px 50px -30px #BF0426;
}

@media screen and (max-width: 720px) {
  .cards {
    flex-direction: column;
  }

  .cards section.card {
    margin-left: 0;
    margin-bottom: 32px;
  }

  .cards section.card:last-child {
    margin-bottom: 0;
  }

  .cards section.card button {
    font-size: 70%;
  }

}



footer {
  display: flex;
  color: #fff;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 3rem;



}

.linksFooter {
  display: flex;
  list-style: none;
}

.linksFooter ul {
  list-style: none;
}

.contatosFooter li,
a {
  list-style: none;
  text-decoration: none;

}